@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap') ;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: url('blood-letter.png') no-repeat right bottom, linear-gradient(to right bottom, #475ba1, #8976c5);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  margin: 20px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 600px;
}

main {
  margin: 20px auto;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 600px;
  border-radius: 5px;
  border: 3px solid #e1afee;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

span {
  cursor: pointer;
}

.title {
  font-family: Mystery Quest, cursive;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 60px;
  letter-spacing: 10px;
}

.container {
  margin-top: 20px;
  max-width: 500px;
}

#carta-texto {
  border: 1px solid #af91d6;
  border-radius: 4px;
  padding: 10px;
  width: 500px;
}

#carta-texto:focus {
  outline: none;
  border: 2px solid #af91d6;
  box-shadow: 0 0 10px #ccc;
}

#criar-carta {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: #8976c5;
  box-shadow: 2px 2px 1px #ccc;
  transition: 0.5s ease;
}

#criar-carta:hover {
  box-shadow: 3px 3px 4px #ccc;
  cursor: pointer;
}

#carta-gerada {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
}

#carta-contador {
  font-family: Mystery Quest, cursive;
  color: #5e5fb0;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 30px;
}

/* Requisito 6 */
.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
}

/* Requisito 7 */
.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

/* Requisito 8 */
.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

/* Requisito 9 */
.medium {
  font-size: 20px;
  padding: 8px;
}

/* Requisito 10 */
.big {
  font-size: 30px;
  padding: 10px;
}

/* Requisito 11 */
.reallybig {
  font-size: 40px;
  padding: 15px;
}

/* Requisito 12 */
.rotateleft {
  transform: matrix(0.996195, -0.0871557, 0.0871557, 0.996195, 0, 0);
}

/* Requisito 13 */
.rotateright {
  transform: matrix(0.996195, 0.0871557, -0.0871557, 0.996195, 0, 0);
}

/* Requisito 14 */
.skewleft {
  transform: matrix(1, 0, 0.176327, 1, 0, 0);
}

/* Requisito 15 */
.skewright {
  transform: matrix(1, 0, -0.176327, 1, 0, 0);
}
